body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column; /* Change flex direction to column for mobile */
    height: 100vh; /* Use viewport height */
}

.half {
    width: 100%; /* Make both halves full width on mobile */
    height: 50%; /* Each half takes 50% of the screen height */
    background-color: #FFD700; /* Yellow */
    box-sizing: border-box;
    padding: 20px; /* Reduced padding for mobile */
}

.half.black {
    background-color: #000; /* Black */
}

.content {
    text-align: center;
}

input[type="text"] {
    padding: 10px; /* Reduced padding for mobile */
    margin: 5px; /* Reduced margin for mobile */
    border-radius: 5px; /* Reduced border radius for mobile */
    border: none;
    width: 80%; /* Adjusted width for mobile */
}

button {
    padding: 10px 20px; /* Reduced padding for mobile */
    margin: 10px; /* Adjusted margin for mobile */
    border-radius: 5px; /* Reduced border radius for mobile */
    border: none;
}

h1 {
    text-align: center;
    font-size: 30px; /* Reduced font size for mobile */
    margin: 0;
    padding: 10px 0; /* Adjusted padding for mobile */
}

@media screen and (min-width: 600px) {
    /* Apply styles only if screen width is 600px or larger */
    .container {
        flex-direction: row; /* Change back to row layout for larger screens */
        height: calc(100vh - 110px); /* Adjusted height for larger screens */
    }
    .half {
        width: 50%; /* Half width for larger screens */
        height: calc(50% + 20%); /* Adjusted height for larger screens */
        padding: 60px; /* Restored padding for larger screens */
    }
}
